body{
	background-color: #ececec;
	text-align: center;
	font-family: 'Helvetica';
	padding-top: 5px;
}

img{
	border: none;
	border-radius: 30px;
}
p{
	font-family: 'Helvetica';
	font-size: 16px;
	font-weight: 400;
	color: black;
	margin: 45px 130px;
	text-align: justify;
}

button{
	margin: 25px 0px;
	font-family: 'Helvetica';
	font-weight: 800;
	font-size: 15px;
	border-radius: 35px;
	border: 0;
	background: gray;
	color: #ececec;
	width: 40px;
	cursor: pointer;
}